body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bar {
  position: fixed;
  width: 100%;
}
button {
  display: block;
  margin: 2rem auto;
  font-size: 1.2rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.images img {
  width: 100%;
}
.modal-overlay {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal {
  background-color: white;
  border-radius: 3px;
  padding: 2rem 3rem;
  text-align: center;
}
