body {
  text-align: center;
  background: black;
}

.App {
  border: 6px solid white;
  margin: 40px auto;
  padding: 20px;
  width: 36em;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  width: 6em;
  height: 6em;
  text-align: center;
  padding: 0;
  line-height: 6em;
  margin: 1em;
  border-radius: 50%;
  transition: transform 300ms;
}

li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

li.selected {
  transform: scale(1.4);
}

.colorSample {
  height: 60px;
  margin: -10px;
}

p {
  color: white;
  font-size: 200%;
  font-family: fantasy;
}
